<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/java.js"></script>
</head>

<body>
<div class="hi">

    Welcome to my world gentlemen !!!!!........
</div>
<p>THIS IS A VARIBLE MATLAB HUM VIEWS FILE KE MADDAT SE KUCH BHI BHEJ SAKTE HAI APNE WEBSITE ME GENTLEMEN <br>
<b>{{variable1}}</b> </p>
      <b>varianble2 value is {{variable2}}</b>  


      

</body>


</html>